<!DOCTYPE html>

<html>
  <head>
     <link rel="stylesheet" type="text/css" href="../static/css/style.css">
  </head>

  <body>
    <div class="search-container">
      <input id="search-input" name="marvel-query" type="search" placeholder="Search Marvel"></input>
      <button id="search-btn">Search</button>
    </div>

    <div id="search-results">
    </div>
  </body>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="../static/js/script.js"></script>
</html>
